In [2]:
list1=[1,2,3,6,1,3,4,0]
list2=[9,5,6,2,3,8]
list3=[1,2,3,6,1]
list4=['hi','hello','hOw','Are','you']
list1.append(9)
list1.append(5)
list1.append(7)
print(list1)

[1, 2, 3, 6, 1, 3, 4, 0, 9, 5, 7]

append examples

In [17]:
list1=[1,2,3,6,1,3,4,0]
list2=[9,5,6,2,3,8]
list3=[1,2,3,6,1]
list4=['hi','hello','hOw','Are','you']
list1.extend(list2)
list2.extend(list3)
list1.extend(list2)
print(list1)
list1.extend(list4)
print(list1)

[1, 2, 3, 6, 1, 3, 4, 0, 9, 5, 6, 2, 3, 8, 9, 5, 6, 2, 3, 8, 1, 2, 3, 6, 1]
[1, 2, 3, 6, 1, 3, 4, 0, 9, 5, 6, 2, 3, 8, 9, 5, 6, 2, 3, 8, 1, 2, 3, 6, 1, 'hi', 'hello', 'hOw', 'Are', 'you']

extend examples

In [5]:
list1=[1,2,3,6,1,3,4,0]
list2=['hi','hello','hOw','Are','you']
list1.insert(-1,99)
list1.insert(1,8)
list1.insert(len(list1)-1,7)
print(list1)

[1, 8, 2, 3, 6, 1, 3, 4, 99, 7, 0]

insert example

In [11]:
list1=[1,2,3,6,1,3,4,0]
list2=['hi','hello','hOw','Are','you']
list1.remove(3)
print(list1)
list2.remove('hello')
print(list2)
print(list1.pop(6))
print(list2.pop(2))

[1, 2, 6, 1, 3, 4, 0]
['hi', 'hOw', 'Are', 'you']
0
Are

remove and pop examples

In [15]:
list1=[1,2,3,6,1,3,4,0]
list2=['hi','hello','hOw','Are','you','hi']
print(list1.index(3))
print(list1.index(0))
print("location is "+ str(list2.index('hOw')))
print("location is "+str(list2.index('you')))
print("count = "+ str(list1.count(3)))
print("count = "+str(list1.count(1)))
print(list2.count('hello'))
print(list2.count('hi'))

2
7
location is 2
location is 4
count = 2
count = 2
1
2

index and count examples

In [23]:
list1=[1,2,3,6,1,3,4,0]
list2=['hi','hello','hOw','Are','you','hi']
list1.sort()
list2.sort()
print(list1)
print(list2)
list1.reverse()
list2.reverse()
print(list1)
print(list2)

[0, 1, 1, 2, 3, 3, 4, 6]
['Are', 'hOw', 'hello', 'hi', 'hi', 'you']
[6, 4, 3, 3, 2, 1, 1, 0]
['you', 'hi', 'hi', 'hello', 'hOw', 'Are']

sort and reverse examples