create a list of fruits and add 2 fruits in it.

In [ ]:
f1=['apple','banana','mango']
f2=['grapes','pineapple','guava']
f1.extend(f2)
print(f1)

['apple', 'banana', 'mango', 'grapes', 'pineapple', 'guava']

create a tuple  acess the elements by using index
both positive and negative

In [ ]:
t=(1,2,3,4,5,6,7,89)
for i in range(len(t)):
  print(t[i])
for i in range(1,len(t)+1):
  print(t[-i])

1
2
3
4
5
6
7
89
89
7
6
5
4
3
2
1

3.create 3 lists and concinate them as a single list

In [1]:
x=[1,2,3,4,5,6]
y=['h','e','l','l','o']
z=[0.1,0.2,0.3,0.99]
y.extend(z)
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 'h', 'e', 'l', 'l', 'o', 0.1, 0.2, 0.3, 0.99]

4.write a python programme to count the occurance of each element in a given list

In [15]:
l=[1,4,2,3,5,6,2,2,4,2,5,6,7,6,5,7,5,0]
s=set(l)
for i in s:
  print(str(i)+" count= "+str(l.count(i)))

0 count= 1
1 count= 1
2 count= 4
3 count= 1
4 count= 2
5 count= 4
6 count= 3
7 count= 2

5.create a dict to store the information about a person name age location qualification gender.

In [21]:
person_dict = {
    'name': 'sai',
    'age': 22,
    'location': 'hyderabadh',
    'qualification': 'B.Tech',
    'gender': 'male'
}
print(person_dict)

{'name': 'sai', 'age': 22, 'location': 'hyderabadh', 'qualification': 'B.Tech', 'gender': 'male'}

6.add a new key-value pair to an existing dict

In [22]:
person_dict = {
    'name': 'sai',
    'age': 22,
    'location': 'hyderabadh',
    'qualification': 'B.Tech',
    'gender': 'male'
}
person_dict['hobbies']='anime watching'
print(person_dict)

{'name': 'sai', 'age': 22, 'location': 'hyderabadh', 'qualification': 'B.Tech', 'gender': 'male', 'hobbies': 'anime watching'}

7.create two dict merge them as a single dict.

In [23]:
 p = {
    'name': 'sai',
    'age': 22,
}
p1={
    'location': 'hyderabadh',
    'qualification': 'B.Tech',
    'gender': 'male'
}
p.update(p1)
print(p)

{'name': 'sai', 'age': 22, 'location': 'hyderabadh', 'qualification': 'B.Tech', 'gender': 'male'}

 8.write a python programme to remove key value from a dict.

In [24]:
person_dict = {
    'name': 'sai',
    'age': 22,
    'location': 'hyderabadh',
    'qualification': 'B.Tech',
    'gender': 'male'
}
loc=person_dict.pop('location')
print(person_dict)
print(loc)

{'name': 'sai', 'age': 22, 'qualification': 'B.Tech', 'gender': 'male'}
hyderabadh

 9.create 2 sets each containing 7 elements apply uion intersection diff and symmatic diff.

In [27]:
s={1,2,4,1,3,6,5,4,0}
s1={9,8,7,6,5,4,3,2,1}
print(s|s1)
print(s&s1)
print(s-s1)
print(s^s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}
{0}
{0, 7, 8, 9}

10.create a set with 15 elements with repeated elements and remove the duplicates.

In [28]:
s={1,4,2,3,2,1,3,1,2,13,4,9,4,5,3}
print(s)

{1, 2, 3, 4, 5, 9, 13}